/* =========================
   Nivo Slider v3.2 Styles
   ========================= */

/* Основной контейнер слайдера */
.nivoSlider {
    position: relative;
    width: 100%;
    height: 500px; /* фиксированная высота для стабильной работы */
    overflow: hidden;
}

/* Все изображения внутри слайдера */
.nivoSlider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* адаптивная ширина */
    height: 100%;  /* адаптивная высота */
    object-fit: cover; /* сохраняет пропорции и обрезает лишнее */
}

/* Основное изображение (активное) */
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}

/* Ссылки на изображения (если используются) */
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: none;
    opacity: 0;
    background: transparent;
}

/* Срезы и блоки для анимации */
.nivo-slice,
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    top: 0;
    height: 100%;
}

.nivo-box img {
    display: block;
}

/* Подписи к слайдам */
.nivo-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    z-index: 8;
    box-sizing: border-box;
    display: none;
}

.nivo-caption p {
    margin: 0;
    padding: 5px 0;
}

.nivo-caption a {
    color: #fff;
    text-decoration: underline;
}

/* HTML-подписи (если используются) */
.nivo-html-caption {
    display: none;
}

/* Навигация: стрелки */
.nivo-directionNav a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
    padding: 1rem;
    background-size: cover;
    background-color: transparent;
}

.nivo-prevNav { 
    left: 1rem;
    background-image: url("../pic/prev.png");
}

.nivo-nextNav { 
    right: 1rem;
    background-image: url("../pic/next.png");
}

/* Навигация: точки */
.nivo-controlNav {
    text-align: center;
    padding: 15px 0;
    z-index: 10;
}

.nivo-controlNav a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(228,220,11,1);
    border-radius: 50%;
    cursor: pointer;
}

.nivo-controlNav a.active {
    background-color: rgba(12,56,123,0.7);
}

/* Миниатюры (если используются) */
.nivo-controlNav img {
    width: 20%;
    height: auto;
    display: inline-block;
}
